---
---

@import "{{ site.theme }}";

// NOTE: Do not erase above. Add custom styles below.
.main-content {
    h1 {
        border-bottom: solid 1px #eff0f1;
        margin-top: 4rem;
    }

    h2, h3, h4 {
        color: gray;
    }
}
