// Hero page
$gradient-dark: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .3));

.hero {
  background: $gradient-dark, $bg-hero;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__heading {
  font-weight: 300;
  font-size: modular-scale(4);

  @media (min-width: $bp-small) and (orientation: landscape) {
    font-size: modular-scale(3);
  }

  @include respond-to('medium') {
    font-size: modular-scale(6);
  }
}

.hero__dates-container {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  bottom: 2em;
}

.hero__dates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 2em;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  max-width: 1100px;
  bottom: 2rem;

  @media (min-width: $bp-small) and (orientation: landscape) {
    opacity: 0;
  }

  @include respond-to('medium') {
    opacity: 1;
    grid-gap: 0 5em;
  }

  @include respond-to("large") {
    opacity: 1;
    grid-gap: 0 8em;
  }

}

.hero__dates__title {
  font-weight: 300;
  font-size: modular-scale(4, 1rem);

  @include respond-to('small') {
    font-size: modular-scale(6, 1rem);
  }

  @include respond-to("large") {
    font-size: modular-scale(7, 1rem);
  }
}


.hero__dates__label {
  text-align: center;
  font-size: modular-scale(1, 1rem);

  @include respond-to("large") {
    font-size: modular-scale(2, 1rem);
  }
}

.hero__dates-container__help-text {
  text-align: center;
  align-self: end;
  font-size: modular-scale(1, 1rem);

  @media (min-width: $bp-small) and (orientation: landscape) {
    opacity: 0;
  }

  @include respond-to('medium') {
    opacity: 1;
    font-size: modular-scale(2, 1rem);
  }

  @include respond-to("large") {
    font-size: modular-scale(3, 1rem);
  }
}
