<!-- footer -->
<footer class="footer">
  <div class="footer__text site-footer-credits">
    This camp is organized by the
    <a href="https://www.facebook.com/groups/TensorFlowKR">TensorFlow Korea User Group</a>,
    and sponsored by the following organizations:
    <div class="sponsors">
        <div class="platinum">
            <img src="http://via.placeholder.com/300x100">
            <img src="http://via.placeholder.com/300x100">
            <img src="http://via.placeholder.com/300x100">
        </div>
        <div class="gold">
            <img src="http://via.placeholder.com/300x100">
            <img src="http://via.placeholder.com/300x100">
            <img src="http://via.placeholder.com/300x100">
        </div>
     </div>
  </div>
  <p>
    <a href="mailto:info.jeju.dlcamp.org@gmail.com">info.jeju.dlcamp.org@gmail.com</a>
  </p>
</footer>
