<!-- footer -->
<footer class="footer">
  <div class="footer__text site-footer-credits">
    <p>This camp is organized by the <a href="https://www.facebook.com/groups/TensorFlowKR">TensorFlow Korea User Group</a>:</p>
    <div class="organizers">
      <img src="./tfkr.png">
    </div>

    <p>And made possible by our <i>Platinum</i> sponsors:</p>
    <div class="sponsors">
      <div class="platinum">
        <img src="./google.png">
        <img src="./kakao-brain.png">
        <img src="./netmarble.png">
        <img src="./sk-telecom.png">
      </div>
     </div>

    <p>And our host:</p>
    <div class="hosts">
      <img class="hosts__logo" src="{{ '/assets/images/sponsors/jeju_univ.svg' | absolute_url }}" alt="Jeju University">
    </div>
  </div>
  <p>
    <a href="mailto:info.jeju.dlcamp.org@gmail.com">info.jeju.dlcamp.org@gmail.com</a>
  </p>
</footer>
