<section class="hero">
  <h2 class="hero__heading">DEEP LEARNING CAMP JEJU</h2>
  <div class="hero__dates">
    <div class="hero__dates__element hero__dates__element--day">
      <h3 class="hero__dates__title">
      </h3>
      <p class="hero__dates__label">
        days
      </p>
    </div>

    <div class="hero__dates__element hero__dates__element--hour">
      <h3 class="hero__dates__title">
      </h3>
      <p class="hero__dates__label">
        hours
      </p>
    </div>

    <div class="hero__dates__element hero__dates__element--minute">
      <h3 class="hero__dates__title">
      </h3>
      <p class="hero__dates__label">
        min
      </p>
    </div>

    <div class="hero__dates__element hero__dates__element--second">
      <h3 class="hero__dates__title">
      </h3>
      <p class="hero__dates__label">
        sec
      </p>
    </div>
  </div>
</section>
